<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Server" value="ServerName" />
		<add key="Database" value="DatabaseName" />
		<add key="Username" value="userName" />
		<add key="Password" value="password" />
		<add key="PortName" value="COM1" />
		<add key="BaudRate" value="9600" />
		<add key="DataBits" value="8" />
		<add key="ParityType" value="None" />
		<add key="StopBit" value="1" />
	</appSettings>
</configuration>